
body{
   /* background-color: #cccccc;*/
}
p{
    text-align: center;
    
}
.titulo-principal{
    padding-left: 30px;
    
}

em strong{
    color: #ff0000;
}
#mision{
    font-size: 20px;
}
#banner{
    width: 100% ;
}

.diferenciales{
    background-color: #ffffff;
    padding: 30pxS;
}
.imgDiferencial{
    width: 50%;
}
.titulo-centralizado{
    text-align: center;
}
ul{
    display:inline-block ;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.items{
    font-style: italic;
}
.principal{
    background: #cccccc;
    padding: 20px;
}
